numpy
scikit-learn
dspy-ai
joblib
langchain==0.2.11
toml
trafilatura
sentence-transformers==2.2.2
flair==0.13.0
rouge_score
pysqlite3-binary
matplotlib
pypdf
pymupdf4llm
devtools
astunparse
datamodel-code-generator

openai
regex
tenacity
torch
accelerate
plotly
seaborn
kaleido
ternary
holoviews